# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Django
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
.env

# Byte-compiled / cache
*.egg-info/
dist/
build/

# Editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db
